<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid container">
    <a class="navbar-brand" href="{{ url_for('homepage') }}">Comunidade Impressionadora</a>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('homepage') }}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('usuarios') }}">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contato') }}">Contato</a>
        </li>
      </ul>
      <ul class = "d-flex navbar-nav">
        {% if current_user.is_authenticated %}
            <li class="nav-item">
               <a class="nav-link" href="{{ url_for('perfil') }}">Meu Perfil</a>
            </li>

            <li class="nav-item">
               <a class="nav-link" href="{{ url_for('criar_post') }}">Criar post</a>
            </li>

            <li class="nav-item">
               <a class="nav-link" href="{{ url_for('logout') }}">Deslogar</a>
            </li>
        {% else %}
            <li class="nav-item">
               <a class="nav-link" href="{{ url_for('login_criarconta') }}">Login</a>
            </li>

            <li class="nav-item">
               <a class="nav-link" href="{{ url_for('login_criarconta') }}">Criar Conta</a>
             </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>